* {
    bg0:    #0e1514ee;
    bg1:    #1a2120ee;
    bg2:    #252b2aee;
    fg0:    #dde4e2;
    fg1:    #bec9c7;
    accent: #81d5ce;
    urgent: #ffb4ab;
    green:  #00504c;
    yellow: #b0c9e7;
}
