add_newline = true

format = """
$username\
$hostname\
$directory\
$git_branch\
$git_status\
$python\
$nodejs\
$golang\
$rust\
$cmd_duration\
$line_break\
$character
"""

[character]
success_symbol = "[❯](bold green)"
error_symbol = "[❯](bold red)"
vimcmd_symbol = "[❮](bold yellow)"

[directory]
style = "bold cyan"
truncation_length = 3
truncate_to_repo = true
read_only = " "

[git_branch]
symbol = " "
style = "bold purple"

[git_status]
style = "bold yellow"
format = "([$all_status$ahead_behind]($style) )"

[cmd_duration]
min_time = 500
format = "took [$duration](bold yellow) "

[python]
symbol = " "
format = "[$symbol$version]($style) "
style = "bold blue"

[nodejs]
symbol = " "
format = "[$symbol$version]($style) "
style = "bold green"

[golang]
symbol = " "
format = "[$symbol$version]($style) "
style = "bold cyan"

[rust]
symbol = " "
format = "[$symbol$version]($style) "
style = "bold red"
